
<div class="container">


<%= image_tag("hobocoin.jpg", class: "img-responsive coin-image") %>
    <% @posts.each do |post| %>
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
    <% end %>


</div>
